/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 20px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*00a3ea*/
/*o2daff*/
body {
    background: rgb(0,163,234); /* Old browsers */
    background: -moz-linear-gradient(-75deg, rgb(0,163,234) 0%, rgb(0,163,234) 49%, rgb(2,218,255) 51%, rgb(0,163,234) 53%, rgb(0,163,234) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-75deg, rgb(0,163,234) 0%, rgb(0,163,234) 49%, rgb(2,218,255) 51%, rgb(0,163,234) 53%, rgb(0,163,234) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(105deg, rgb(0,163,234) 0%, rgb(0,163,234) 49%, rgb(2,218,255) 51%, rgb(0,163,234) 53%, rgb(0,163,234) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #00a3ea;
}

@media (min-width: 768px) {
    #photo{
        margin-top: 50px;
    }
}

header, section{
    background: #ffffff;
    margin-bottom: 50px;
}

h2,h3,h4{
    font-family: 'Open Sans', cursive;
    font-weight: bold;
}

h2{
    font-size: 45px;
    font-weight: bold;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 23px;
}

.kreska{
    color: #00a3ea;
}

header.section,section.section{
    padding: 60px;
}

header.section{
    padding-top: 10px;
}

.black-icon{
    color: #000;
    float: right;
}

a i.fa{
    margin-right: 10px;
}

.media{
    margin-top: 30px;
    margin-bottom: 30px;
}

hr{
    border-top: 3px solid #d7e4ed;
}

.education-icon{
    line-height: 60px;
    vertical-align: middle;
    font-size: 40px;
}

.segment{
    display: inline-block;
    height: 15px;
    width: 17%;
    margin-right: -1px;
    border-radius: 25%;
    background-color: #999;
}

.segment.active{
    background-color:#00a3ea
}

.segment.active:nth-of-type(1){
    opacity: 0.2;
}

.segment.active:nth-of-type(2){
    opacity: 0.4;
}

.segment.active:nth-of-type(3){
    opacity: 0.6;
}

.segment.active:nth-of-type(4){
    opacity: 0.8;
}

.segment.active:nth-of-type(5){
    opacity: 1;
}

.chevron{
    font-size: 50px;
    color: #00a3ea;
    opacity: .5;
}

.carousel:hover .chevron{
    opacity: 1;
}

.back-to-top{
    color: #00a3ea;
    border-color: #00a3ea;
    cursor: pointer;
}

.back-to-top:hover{
    color: #fff;
    background-color: #00a3ea;
}

.legal{
    color: #ddd;
    font-size: 10px;
}

details{
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
